<div class="available-colours">
  <h4 class="available-colours__title">
    {{#if variant_name}}
      {{variant_name}} colour options
    {{else}}
      Colour options
    {{/if}}
  </h4>
  <ul class="available-colours__swatches">
    {{#lookup colour_options colours}}
      {{#if bordered}}
      <li style="background: {{hexcode}};" class="available-colours__swatch available-colours__swatch--bordered">
      {{else}}
      <li style="background: {{hexcode}};" class="available-colours__swatch">
      {{/if}}
        <span>{{label}}</span>
      </li>
    {{/lookup}}
  </ul>
</div>
