<div class="page-lead">
  <div class="page-lead__main">
    <h2 class="page-lead__title">
      {{#if title.image}}
        <img src="{{title.image}}" alt="{{{title.text}}}"/>
      {{else}}
        {{{title.text}}}
      {{/if}}
    </h2>
    <h3 class="page-lead__tagline">{{{tagline}}}</h3>
    <div class="page-lead__body">
      {{{body}}}
    </div>
  </div>
  <div class="page-lead__aside">
    <img class="page-lead__image" src="{{image.src}}" alt="{{{image.alt}}}"/>
  </div>
</div>
