<div id="{{id}}" class="product js-scrolling-reveal">

  <div class="product__main">

    <h3 class="product__title">
      {{#if title.image}}
        <img src="{{title.image}}" alt="{{{title.text}}}"/>
      {{else}}
        {{{title.text}}}
      {{/if}}
    </h3>

    <h4 class="product__tagline">{{{tagline}}}</h4>

    <ul class="product__attrs">
      {{#each attributes}}
        <li>{{{this}}}</li>
      {{/each}}
    </ul>

    {{#if colour_options}}
      {{partial 'available-colours' this}}
    {{else}}
      {{!-- if we don't have 'colour_options' then check for 'variants' property --}}
      {{#if variants}}
        {{#each variants}}
          {{partial 'available-colours' this}}
        {{/each}}
      {{/if}}
    {{/if}}

    {{#if footnotes}}
      <ul class="product__footnotes">
        {{#each footnotes}}
          <li>{{{this}}}</li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if link}}
      <a class="samsung-button" href="{{link}}">Find out more</a>
    {{/if}}

  </div>

  <div class="product__aside">

    <img class="product__image" src="{{image}}" alt="Image of {{{title.text}}}"/>

    {{#if feature_ids}}
      <div class="product__features">
        {{#lookup feature_ids features}}
          <img class="product__feature" src="{{image}}" alt="{{text}}"/>
        {{/lookup}}
      </div>
    {{/if}}

  </div>

</div>
