<div class="homepage grid_25 alpha omega">

  <div class="promo-slider">
    <ul class="promo-slider__slides js-promo-slider">
      {{#each home.slides}}
        <li class="promo-slide">
          <div class="promo-slide__details">
            <h2 class="promo-slide__title">{{title}}</h2>
            <div class="promo-slide__body">{{{body}}}</div>
            {{#if internal_link}}
              <a class="samsung-button" data-target-content="{{internal_link}}" href="#">Find out more</a>
            {{/if}}
          </div>
          <div class="promo-slide__image">
            <img src="{{image.src}}" alt="{{image.alt}}" />
          </div>
        </li>
      {{/each}}
    </ul>
  </div>

</div>

<!-- scripts -->
<script type="text/javascript">

function initPage() {
  head.load(prefixURL + "js/jquery.bxslider.js", function () {
    $('.js-promo-slider').bxSlider();
  });
}

</script>
